@model Weather.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (string.IsNullOrEmpty(Model.Error))
{

    <div class="row">
        <div class="col-lg-6">
            <h4>Current Weather at Original Software</h4>
            <div class="row">
                <div class="col-lg-3">
                    <img src="@Model.WeatherImage" alt="originalWeatherImage" />
                </div>
                <div class="col-lg-3">
                    <p>
                        <h4>@Model.CurrentTemperature<text>&deg;C</text></h4>
                    </p>
                    <p>
                        @Model.Conditions
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Local Weather where you are</h4>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-4">
                    <p id="weatherLookupError" style="display:none;" class="alert alert-warning"></p>
                </div>
            </div>
            <div id="postcodeLookup" style="display:none;">
                <p>Lookup using your postcode</p>

                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <input type="text" placeholder="Postcode" id="postcode" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <button type="button" class="btn btn-default" id="search">Lookup</button>
                    </div>
                </div>
            </div>

            <div class="row" id="localWeather" style="display:none;">
                <div class="col-lg-3">
                    <img src="" alt="localWeatherImage" id="localImage" />
                </div>
                <div class="col-lg-3">
                    <p>
                        <h4><span id="localTemp"></span>&deg;C</h4>
                    </p>
                    <p>
                        <span id="localConditions"></span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    @section scripts
    {
        <script>
            $(function () {

                var options = new Object();
                options.latLongApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "LatLong" })';
                options.postcodeApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Postcode" })';

                var weather = new weatherApi(options);
                weather.getLocation();
            });
        </script>
    }
}
else
{
    <div class="row">
        <div class="col-lg-6">
            <p class="alert alert-danger">
                @Model.Error
            </p>
        </div>
    </div>
}
